*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 120px;
  padding-right: 120px;
}

.button {
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 4px;
  background-color: #30B868;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px 16px;
}

.button:hover {
  background-color: #28a75a;
}

nav {
  max-width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 139px;
  height: 60px;
}

nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav .menu li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

#banner {
  max-width: 100%;
  min-height: 674px;
  background-image: url(Images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-content {
  text-align: center;
  max-width: 1360px;
  max-height: 379px;
  padding: 70px 120px 134px 120px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 1000px;
  background-color: #FFFFFF;
  color: #30B868;

}

.badge img {
  width: 16px;
  height: 16px;
}

.banner-title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.banner-title-color {
  color: #30B868;
}

.banner-description {
  height: 60px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.banner-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.button-two {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 52px;
  border: none;
  border-radius: 4px;
  background-color: #30B868;
  color: #FFFFFF;
  font-size: 16px;
  line-height: auto;
  cursor: pointer;
  padding: 12px 16px;
}

.button-two img {
  width: 20px;
  height: 20px;
}

.button-two:hover {
  background-color: #28a75a;
}
.button-three {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  line-height: auto;
  cursor: pointer;
  padding: 12px 16px;
}

.button-three img {
  width: 20px;
  height: 20px;
}

.button-three:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#notes {
  padding: 120px;
  max-height: 448px;
}
#notes .notes-container {
  max-width: 1360px;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  margin-bottom: 44px;
}

.section-heading h2 {
  font-size: 48px;
  line-height: auto;
  color: #001931;
  margin-bottom: 16px;
}
.section-heading p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin: 0 auto;
}

.notes-box {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card {
  padding: 24px;
  max-width: 322px;
  box-shadow: 0 0 8px 0 #00000016;
  
}

.card img {
  display: block;
  max-width: 60px;
  margin: 0 auto 16px;
}

.card h3 {
  font-size: 24px;
  line-height: auto;
  color: #001931;
  margin-bottom: 16px;
  text-align: center;
}

.card p {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #627382
}

#brain {
  max-width: 100%;
  max-height: 840px;
  margin: 0 auto;
  padding: 120px;
  background-color: #FFFFFF;
}

.brain-container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;         
  align-items: center;
  gap: 60px;
}

.brain-image img{
  width: 600px;
  height: 600px;
}

.brain-content {
  max-width: 600px;
}

.texts-one {
  margin-top: 102px;
  margin-bottom: 16px;
  width: 700px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #30B868;
}

.brain-content h2 {
  width: 700px;
  height: 116px;
  font-size: 48px;
  margin-bottom: 16px;
  color: #001931;
}

.texts-two {
  width: 700px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  text-align: left;
  margin-bottom: 40px;
}

.benefits {
  list-style: none;
}

.benefits li {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}

.benefits li img {
  width: 20px;
  height: 20px;
}

#challenge {
  width: 100%;
  max-height: 506px;
  padding: 2px 120px 120px 120px;
  background-color: #FFFFFF;
}

.challenge-container {
  max-width: 1360px;
  max-height: 384px;
  padding: 80px 40px 80px 40px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background-color: #F7F6F2;
}

.challenge-container h2 {
  margin-top: 0 auto;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: auto;
  color: #000000;
  }

.challenge-container p {
  font-size: 16px;
  line-height: 24px;
  color: #627382;
  margin-bottom: 24px;
}

.challenge-container .button-four {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 52px;
  border: none;
  border-radius: 4px;
  background-color: #30B868;
  color: #FFFFFF;
  font-size: 16px;
  line-height: auto;
  cursor: pointer;
  padding: 12px 16px;
  margin-bottom: 16px;
}

.button-four img {
  width: 20px;
  height: 20px;
}
.button-four:hover {
  background-color: #28a75a;
}

.challenge-container p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#footer {
  max-width: 100%;
  max-height: 348px;
  background-color: #001931;
  margin: 0 auto;
  padding: 120px 120px 30px 120px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.footer-logo img {
  width: 139px;
  height: 60px;
}

.footer-socials {
  text-align: right;
}

.footer-socials p {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-socials .social-icons {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.footer-socials .social-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
  margin-bottom: 30px;
}

.footer-text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #fafafa;
  text-align: center;
}