*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 120px;
  padding-right: 120px;
}

.button {
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 4px;
  background-color: #30B868;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px 16px;
}

.button:hover {
  background-color: #28a75a;
}

nav {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 139px;
  height: 60px;
}

nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav .menu li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

#banner {
  width: 100%;
  min-height: 674px;
  background-image: url(Images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-content {
  text-align: center;
  max-width: 1360px;
  max-height: 379px;
  padding: 70px 120px 134px 120px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 1000px;
  background-color: #FFFFFF;
  color: #30B868;

}

.badge img {
  width: 16px;
  height: 16px;
}

.banner-title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.banner-title-color {
  color: #30B868;
}

.banner-description {
  height: 60px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.banner-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.button-two {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 52px;
  border: none;
  border-radius: 4px;
  background-color: #30B868;
  color: #FFFFFF;
  font-size: 16px;
  line-height: auto;
  cursor: pointer;
  padding: 12px 16px;
}

.button-two img {
  width: 20px;
  height: 20px;
}

.button-two:hover {
  background-color: #28a75a;
}
.button-three {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 52px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  line-height: auto;
  cursor: pointer;
  padding: 12px 16px;
}

.button-three img {
  width: 20px;
  height: 20px;
}

.button-three:hover {
  background-color: rgba(255, 255, 255, 0.2);
}