*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header {
  background-color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 120px;
  padding-right: 120px;
}

.button {
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 4px;
  background-color: #30B868;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px 16px;
}

nav {
  width: 100%;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 139px;
  height: 60px;
}

nav .menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav .menu li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}